#countdown{
  width: 420px;
}
/* Change this setting above to change the size of the whole countdown including the font */

*{
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  overflow:hidden;
  background: rgba(17,126,104,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(17,126,104,1) 0%, rgba(17,126,104,1) 25%, rgba(1,81,54,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(17,126,104,1)), color-stop(25%, rgba(17,126,104,1)), color-stop(100%, rgba(1,81,54,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(17,126,104,1) 0%, rgba(17,126,104,1) 25%, rgba(1,81,54,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(17,126,104,1) 0%, rgba(17,126,104,1) 25%, rgba(1,81,54,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(17,126,104,1) 0%, rgba(17,126,104,1) 25%, rgba(1,81,54,1) 100%);
  background: radial-gradient(ellipse at center, rgba(17,126,104,1) 0%, rgba(17,126,104,1) 25%, rgba(1,81,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#117e68', endColorstr='#015136', GradientType=1 );
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#countdowndays p{
  opacity:1;
}
#countdownhours p{
  opacity: 0.8;
}
#countdownmins p{
  opacity: 0.6;
}
#countdownsecs p{
  opacity: 0.4;
}

#countdown {
	text-transform: uppercase;
  display:block;
  border:10px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
  transition:.1s ease-in-out;
}

.box{
  white-space:nowrap;
  line-height:0.8;
  margin-bottom:10px;
}

.box p{
	font-size: 1em;
	font-weight: 900;
  display:inline-block;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #16a085;
}
